In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Series

In [4]:
ser1 = pd.Series([1, 2, 3], index=["a", "b", "c"])

ser1

a    1
b    2
c    3
dtype: int64

In [5]:
ser1.index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
ser2 = pd.Series(np.array([1, 2, 3]))

ser2

0    1
1    2
2    3
dtype: int64

In [7]:
pd.Series({
    "a": 1,
    "b": 2,
    "c": 3
})

a    1
b    2
c    3
dtype: int64

In [8]:
pd.Series(["a", 1, True])

0       a
1       1
2    True
dtype: object

In [21]:
ser1 = pd.Series([1, 2, 5, 7, 10])

ser1

0     1
1     2
2     5
3     7
4    10
dtype: int64

In [20]:
ser1.loc[2]

5

In [23]:
print(ser1)
ser1[ser1>3]

0     1
1     2
2     5
3     7
4    10
dtype: int64

2     5
3     7
4    10
dtype: int64

### DataFrames

In [24]:
df1 = pd.DataFrame({
    "col1": pd.Series([1, 2, 3]),
    "col2": pd.Series([2, 3, 4])
})

df1

   col1  col2
0     1     2
1     2     3
2     3     4

In [31]:
df = pd.DataFrame({
    "col1": ["a", "b", "c"],
    "col2": ["j", "k", "l"]
},
index=["p0", "p1", "p2"]
)

df

   col1 col2
p0    a    j
p1    b    k
p2    c    l

In [32]:
df.loc["p1", "col1"]  # df.loc[row_index, col_name]

'b'

In [37]:
df.iloc[1, 0]

'b'

In [28]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [29]:
df.index

Index(['p0', 'p1', 'p2'], dtype='object')

In [39]:
df.columns = ["col15", "col16"]
df

   col15 col16
p0     a     j
p1     b     k
p2     c     l

In [41]:
df["col15"]  # one pair of brackets for Series
df[["col15"]]  # two pair of brackets for DF containing the columns

X_train = df.iloc[:, :-1]
y_train = df.iloc[:, -1:]

y_train = df[["target"]].copy()

   col15
p0     a
p1     b
p2     c

In [42]:
df.shape

(3, 2)