In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
s1 = pd.Series([1, 2, 3], index=["i1", "blablabla", "i3"])

In [10]:
pd.Series(np.array([1, 2, 3]))

0    1
1    2
2    3
dtype: int64

In [24]:
dict_s = {
    "int": 1,
    "string": "hola",
    "float": 2.5,
    "bool": False
}

s1 = pd.Series(dict_s)

In [20]:
s1.loc["int"] == s1["int"]

True

In [28]:
s1 = pd.Series([1, 10, 100, 1000])

s1[s1 > 20]

2     100
3    1000
dtype: int64

In [29]:
s1.shape

(4,)

In [30]:
len(s1)

4

In [31]:
print(s1)

s1.loc[0] = "hola"

print(s1)

0       1
1      10
2     100
3    1000
dtype: int64
0    hola
1      10
2     100
3    1000
dtype: object

In [32]:
s1[3] = 1000000000000000000

s1

0                   hola
1                     10
2                    100
3    1000000000000000000
dtype: object

In [35]:
s1.get(0) == s1.loc[0]

True

### Dataframes

In [61]:
df = pd.DataFrame({
    "col1": range(1, 1000),
    "col2": range(1, 1000),
    "col3": range(1, 1000)},
)

In [40]:
len(df.index) == len(df)

True

In [62]:
# pd.concat([df.iloc[:, :1], df.iloc[:, 2:]], axis=1)

df[["col1"]]

     col1
0       1
1       2
2       3
3       4
4       5
..    ...
994   995
995   996
996   997
997   998
998   999

[999 rows x 1 columns]

In [ ]:
df.loc[row_index, column_name]
df.iloc[i_row:f_row, i_col:f_col]

In [48]:
df.shape

(3, 3)