### Import libraries

In [1]:
import pandas as pd
import esios 
import os
from functools import reduce
import json

### Getting the data

In [2]:
os.getcwd()

'/Users/dgarhdez/Desktop/api_esios'

In [5]:
list_files = os.listdir()

csv_list = [file for file in list_files if ".csv" in file]

df_list = [pd.read_csv(csv_file) for csv_file in csv_list]

energy = reduce(lambda left, right: pd.merge(left, right, on="datetime", how="outer"), df_list)

In [6]:
energy.head()

,datetime,ind_10027,ind_74,ind_79,ind_84,ind_10063,ind_10008,ind_10010,ind_600
0,2019-01-01T00:00:00.000+01:00,23251.2,6059.2,2954.0,7.1,3202.8,1867.0,3830.3,66.88
1,2019-01-01T01:00:00.000+01:00,22485.0,6059.2,3044.1,8.0,2884.4,1618.0,3172.1,66.88
2,2019-01-01T02:00:00.000+01:00,20977.0,6059.2,3138.6,7.5,1950.8,1535.3,2980.5,66.00
3,2019-01-01T03:00:00.000+01:00,19754.2,6059.2,3596.2,7.5,1675.7,1344.0,2840.0,63.64
4,2019-01-01T04:00:00.000+01:00,19320.6,6063.4,3192.6,7.5,1581.8,1345.0,3253.4,58.85

### Function to load json files

In [7]:
def load_json(json_filename):
    with open(json_filename, encoding="utf8") as f:
        dict_from_json = json.loads(f.read())
    return dict_from_json

dict_energy = load_json("dict_energy.json")

### Change names of columns according to dict_energy.json

In [8]:
new_columns = []

for col in energy.columns:
    for key, value in dict_energy.items():
        if key in col:
            new_columns.append(value)
            
energy.columns = ["datetime"] + new_columns

energy.head()

,datetime,power_demand,nuclear,gas,solar,hydro,coal,wind,spot_price
0,2019-01-01T00:00:00.000+01:00,23251.2,6059.2,2954.0,7.1,3202.8,1867.0,3830.3,66.88
1,2019-01-01T01:00:00.000+01:00,22485.0,6059.2,3044.1,8.0,2884.4,1618.0,3172.1,66.88
2,2019-01-01T02:00:00.000+01:00,20977.0,6059.2,3138.6,7.5,1950.8,1535.3,2980.5,66.00
3,2019-01-01T03:00:00.000+01:00,19754.2,6059.2,3596.2,7.5,1675.7,1344.0,2840.0,63.64
4,2019-01-01T04:00:00.000+01:00,19320.6,6063.4,3192.6,7.5,1581.8,1345.0,3253.4,58.85

In [9]:
energy.to_csv("energy.csv", index=False)